* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e9e6e6;
  color: maroon;
  height: 400px
}

.logo {
  font-size:41px;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: white;
  margin-top: 0px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  height: 50px;
  line-height: 50px;
  width: 1170px
}

.navbar__header {
  font-size: 22px;
  font-weight: 700;
}

.left {
  justify-content: flex-start;
}

.lp {
  padding-left: 20px;
}

.right {
  justify-content: flex-end;
}

.rp {
  padding-right: 20px;
}

.authorization {
  display: flex;
  flex-direction: column;
  width: 500px;
  background-color: white;
  border-radius: 20px;
  padding: 30px;
  margin-top: 10px;
}

.authorization__header {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.input {
  border: none;
  border-bottom: gray solid 3px;
  background-color: transparent;
  margin: 10px 20px;
  padding: 3px;
}

.input:focus, input:hover {
  outline: none;
  transform: scale(1.02);
  transition-duration: 0.2s;
}

.authorization__btn {
  border: none;
  border-radius: 8px;
  background-color: gray;
  color: white;
  padding: 5px 10px;
  align-self: flex-end;
  margin: 5px 20px 0 0;
  font-weight: bold;
}